<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    <li>
                        <a class="gn-icon gn-icon-help" href="/stories/about.html">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </li>
    <li>
        <a href="https://txuritan.github.io/stories/">Txuritan's Stories</a>
    </li>
</ul>