<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
					<li>
                        <a class="gn-icon gn-icon-illustrator" href="https://txuritan.github.io/story/a-dragons-deal/ch-1">A Dragon's Deal</a>
                    </li>
					<li>
                        <a class="gn-icon gn-icon-illustrator" href="https://txuritan.github.io/story/alla-and-taeh/ch-1">Alla and Taeh</a>
                    </li>
					<li>
                        <a class="gn-icon gn-icon-illustrator" href="https://txuritan.github.io/story/alpha-and-omega-uncovering-the-past/ch-1">Alpha and Omega: Uncovering The Past</a>
                    </li>
					<li>
                        <a class="gn-icon gn-icon-illustrator" href="https://txuritan.github.io/story/chelsea-and-columbus/ch-1">Chelsea and Columbus</a>
                    </li>
					<li>
                        <a class="gn-icon gn-icon-illustrator" href="https://txuritan.github.io/story/no-longer-cold/ch-1">No Longer Cold</a>
                    </li>
					<li>
                        <a class="gn-icon gn-icon-illustrator" href="https://txuritan.github.io/story/random-ideas/ch-1">Random Ideas</a>
                    </li>
					<li>
                        <a class="gn-icon gn-icon-illustrator" href="https://txuritan.github.io/story/the-end/ch-1">The End</a>
                    </li>
					
                    <li>
                        <a class="gn-icon gn-icon-help" href="https://txuritan.github.io/story/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </li>
    <li>
        <a href="https://txuritan.github.io/story/">Txuritan's Stories</a>
    </li>
</ul>
