<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Txuritan's Stories | {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="Ian 'Txuritan' Cronkright">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stories/css/normalize.css">
    <link rel="stylesheet" href="/stories/css/skeleton.css">
    <link rel="stylesheet" href="/stories/css/component.css" />
    <link rel="icon" type="image/png" href="/stories/img/favicon.png">
</head>

<body>
    <div class="container">
        {% include nav.html %}
        {{ content }}
    </div>
    <script src="/stories/js/classie.js"></script>
    <script src="/stories/js/gnmenu.js"></script>
    <script>
        new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
</body>

</html>
